.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    .password_block{
        display: flex;
        flex-direction: column;
        gap: inherit;
    }
}

.form_small{
    gap: 10px;
}

.error_list{
    display: flex;
    flex-direction: column;
    p{
        color: red;
        font-size: 12px;
    }
}