.todo-item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;

    .todo-checkbox{
        margin-bottom: auto;
    }

    .todo-item-content {
        padding: 5px;
        width: 100%;
        
        .descr {
            min-width: 0;
            max-width: 600px;
            margin: 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.paper:hover {
    transition: .2s;
    transform: scale(1.0025);
}

.tag_list {
    display: flex;
    flex-direction: row;


    .tag_item {
        margin: 0;
        padding: 0 5px;
        width: auto;
    }
}

.test {
    width: 8px;
    height: 8px;
}

.list-properties {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    gap: 10px;

    .properties-item {
        margin: 0;
        padding: 0;
        width: max-content;
    }
}