@mixin row-center {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
}

.todo-form {
    width: 100%;
}

.todo-edit {
    box-shadow: none !important;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    height: auto;
    transition: clip-path 0.5s ease-in-out;

    .todo-edit-head {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 1px;
        max-width: 100% !important;
    }

    .todo-title {
        @include row-center;

        .input-name {
            padding: 0 !important;
            margin: 0 !important;

            .MuiInputBase-input {
                font-size: 18px;
            }
        }
    }

    .input-descr {
        .MuiInputBase-input {
            font-size: 14px !important;
        }
    }
}

.todo-edit-error {
    border: 1px solid red;

    .input-name {
        .MuiInputBase-input {
            &::placeholder {
                color: red !important;
            }
        }
    }
}

.todo-manage {
    @include row-center;
    gap: 8px;
}

.properties-manage {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-top: 10px !important;

    .properties-list {
        @include row-center;
        gap: 10px;

        .properties-list-item {
            margin: 0;
            padding: 0;
            width: max-content;
        }
    }
}

.hiden {
    .todo-edit {
        height: max-content;
        padding: 0 10px !important;
    }

    .input-name {
        .MuiInputBase-input {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .input-descr,
    .todo-edit-devider,
    .todo-edit-list-properties,
    .properties-manage {
        display: none !important;
    }
}