.section-list {
    display: flex;
    flex-direction: column;

    .item{
        width: 100%;
    }

    .button-added{
        height: 50px;
        margin-top: 30px;
    }
}

.section-list.board{
    margin-top: 20px !important;
    flex-direction: row;
    justify-content: start !important;
    gap: 20px;

    .item{
        align-items: start;
        width: 320px;
        height: 620px;
    }

    .button-added{
        height: 50px;
        margin-top: 5px;
        width: 320px;
    }
}