.todo-cross-text{
    .todo-descr, .todo-title{
        text-decoration: line-through;
    }
}


.todo-item-menu-slot{
    position: absolute;
    top: 10px;
    right: 10px;
}

.todo-descr {
    min-width: 0;
    max-width: 600px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.tag_list {
    display: flex;
    flex-direction: row;

    .tag_item {
        margin: 0 !important;
        padding: 0 5px !important;
        width: auto !important;
    }
}

.list-properties {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    gap: 10px;

    .properties-item {
        margin: 0;
        padding: 0;
        width: max-content;
    }
}