.tag-chip {
    font-size: 10px;
    padding: 2px;

    .MuiChip-avatar {
        width: 8px !important;
        height: 8px !important;
    }
}

.tag-color {
    border-radius: 50% !important;
    width: 8px !important;
    height: 8px !important;
}